@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color Palette */
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  /* Typography */
  --body-font-size: 16x;
  font-size: 16px;
}

body {
  font-family: var(--font-young-serif);
  font-size: var(--body-font-size);
  color: var(--dark-charcoal);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit);
}

/* Font weights for Outfit */
.outfit-regular {
  font-weight: 400;
}

.outfit-medium {
  font-weight: 600;
}

.outfit-bold {
  font-weight: 700;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--eggshell);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
